<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title>Boleta de Compra</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="boleta-content">
  <div class="boleta-container">
    <h1 class="titulo-wonderland">Wonderland</h1>

    <ion-card class="compra-card">
      <ion-card-header>
        <ion-card-title>Resumen de la Compra</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <p><strong>Usuario:</strong> {{ infoUsuario.usuario }}</p>
        <p><strong>Correo:</strong> {{ infoUsuario.correo_usuario }}</p>
        <p><strong>Total:</strong> {{ totalCarrito | currency:'$':'symbol':'1.0-0' }}</p>
      </ion-card-content>
    
      <ion-card-header>
        <ion-card-title>Álbumes Comprados</ion-card-title>
      </ion-card-header>
    
      <ion-card-content>
        <ion-list>
          <ion-item *ngFor="let album of albumsComprados">
            <ion-label>
              <h2>{{ album.nombre_album }}</h2>
              <p>{{ album.nombre_artista }}</p>
              <p>Cantidad: {{ album.cantidad }}</p>
              <p>Precio: {{ album.precio_album | currency:'$':'symbol':'1.0-0' }}</p>
            </ion-label>
          </ion-item>
        </ion-list>
        <p><strong>¡Gracias por su compra! Se le notificará por correo cuando su pedido esté listo para retiro.</strong></p>
      </ion-card-content>
    </ion-card>
    

    <ion-button expand="full" color="secondary" (click)="volverAlInicio()">Volver al Inicio</ion-button>
  </div>
</ion-content>


