ion-toolbar {
  background: linear-gradient(134deg, #07d8e2 54.07%, #35e99d 99.24%);
}
  
ion-content {
      --background: var(--ion-background-color, linear-gradient(134deg, #07d8e2 54.07%, #35e99d 99.24%));
      
}

  
  @import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Pacifico&display=swap');

  #container {
    padding-top: 30px; /* Si deseas ajustar el padding del contenedor */
  }
  
  h1 {
    font-size: 75px;
    font-family: 'Great vibes', cursive; /* Aplica la fuente 'Pacifico' */
    color: #07d8e2;
    padding-top: 30px; /* Ajusta el padding superior */
    margin-top: 50px; /* Ajusta este valor según necesites */
    text-align: center;
  }
  

.boleta-container {
  width: 100%;
  max-width: 500px;
  margin: 0 auto;
  padding: 16px;
  box-sizing: border-box;
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow-y: auto; /* Scroll vertical si el contenido es mayor */
  max-height: 90vh; /* Asegura que no exceda el 90% de la altura de la pantalla */
}

.compra-card {
  margin-bottom: 16px;
}

ion-card-title {
  font-weight: bold;
  color: black;
}

ion-button {
  margin-top: 16px;
}

/* Estilo para la barra de desplazamiento */
.boleta-container::-webkit-scrollbar {
  width: 8px;
}

.boleta-container::-webkit-scrollbar-thumb {
  background-color: black;
  border-radius: 10px;
}