<ion-header [translucent]="true">

  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button>
      </ion-menu-button>

      <ion-title>Favoritos</ion-title>
      
    </ion-buttons>

  </ion-toolbar>

</ion-header>

<ion-content [fullscreen]="true">

  
  <div *ngIf="favoritos.length === 0; else listaFavoritos" class="empty-state">
    <ion-icon name="heart-outline" class="empty-icon"></ion-icon>
    <h2>No tienes álbumes en favoritos</h2>
    <p>¡Agrega tus favoritos para verlos aquí!</p>
    <ion-button expand="block" color="secondary" (click)="irHome()">Volver al Home</ion-button>
  </div>

  <ng-template #listaFavoritos>
    <ion-list class="lista_favoritos">
      <ion-item *ngFor="let favorito of favoritos" class="item-favorito">
        <ion-thumbnail slot="start" (click)="irDetalles(favorito)" class="thumbnail-favorito">
          <img *ngIf="favorito.portada_album" [src]="favorito.portada_album" />
        </ion-thumbnail>

        <ion-label class="label-favorito">
          <h2>{{ favorito.nombre_album }}</h2>
          <p>{{ favorito.nombre_artista }}</p>
          <p>{{ favorito.precio_album | currency:'$':'symbol':'1.0-0' }}</p>
        </ion-label>

        <div class="botones-favoritos">
          <ion-button size="small" color="secondary" (click)="eliminarAlbum(favorito)">Eliminar</ion-button>
          <ion-button size="small" color="secondary" (click)="agregarAlbum(favorito)">Carrito</ion-button>
        </div>
      </ion-item>
    </ion-list>
  </ng-template>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="3" class="ion-text-center">
          <ion-button fill="clear" [routerLink]="['/home']" class="footer-button">
            <ion-icon name="home" style="font-size: 24px;" color="dark"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="3" class="ion-text-center">
          <ion-button fill="clear" [routerLink]="['/buscar']" class="footer-button">
            <ion-icon name="search" style="font-size: 24px;" color="dark"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="3" class="ion-text-center">
          <ion-button fill="clear" [routerLink]="['/libreria']" class="footer-button">
            <ion-icon name="heart" style="font-size: 24px;" color="dark"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="3" class="ion-text-center">
          <ion-button fill="clear" [routerLink]="['/carrito']" class="footer-button">
            <ion-icon name="cart" style="font-size: 24px;" color="dark"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

<!-- NO MAS COTROL Z -->