<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-title>Contáctanos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/home"
        icon="arrow-back-outline" 
        text="" 
        color="black">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>


</ion-header>

<ion-content [fullscreen]="true">

  <div><h1>Wonderland</h1></div> 
  <div class="contact-container">
    <h2>Contáctanos</h2>
    <div class="contact-item">
      <ion-icon class="custom-icon" name="logo-whatsapp"></ion-icon>
      <ion-text>+56976374848</ion-text>
    </div>
  
    <div class="contact-item">
      <ion-icon class="custom-icon" name="mail-outline"></ion-icon>
      <ion-text>Wonderland&#64;gmail.com</ion-text>
    </div>
  
    <div class="contact-item">
      <ion-icon class="custom-icon" name="logo-facebook"></ion-icon>
      <ion-text>Wonderland Álbumes</ion-text>
    </div>
  </div>
  

  <div class="about-us-container">
    <h2>Sobre Nosotros</h2>
    <p>
      En <strong>Wonderland Álbumes</strong>, nos dedicamos a traer lo mejor de la música en formato físico. Ofrecemos una amplia selección de álbumes de música para todos los gustos, desde clásicos inolvidables hasta las últimas novedades del mercado. Nuestra pasión por la música nos inspira a brindarte productos de calidad que te harán disfrutar de cada melodía y colección.
    </p>
  </div>
</ion-content>

<!-- NO MAS COTROL Z -->