<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button  
        icon="arrow-back-outline" 
        text="" 
        color="black"
        defaultHref="/home">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true">

  <div> <h1>Wonderland</h1> </div>
  <div><h2>Mi Cuenta</h2></div>

  <ion-grid class="profile-grid">
    <ion-row class="profile-container">
      <ion-col size="12" size-md="6" class="profile-card">
        <div class="profile-photo-wrapper">
          <img *ngIf="infoUsuario.foto_perfil; else defaultProfile" 
               [src]="infoUsuario.foto_perfil" 
               class="profile-picture" 
               alt="Foto de perfil">
          <ng-template #defaultProfile>
            <img src="assets/icon/foto-perfil.jpg" 
                 alt="Foto por defecto" 
                 class="profile-picture">
          </ng-template>
          <ion-icon class="camera-icon" name="camera" (click)="ingresarImagen()"></ion-icon>
        </div>

        <div class="profile-info">
          <h2>{{ infoUsuario.username }}</h2>
          <p>{{ infoUsuario.correo_usuario }}</p>
          <p>{{ infoUsuario.direccion }}</p>
        </div>

        <ion-button expand="block" (click)="irModificarPerfil()" class="edit-button">
          <ion-icon name="pencil" slot="start"></ion-icon>
          Modificar Perfil
        </ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>
  
</ion-content>

<!--NO MAS COTROL Z perfil listo ya guarda foto de peril-->
