ion-toolbar {
  background: linear-gradient(134deg, #07d8e2 54.07%, #35e99d 99.24%);
}

  ion-content {
    --background: var(--ion-background-color, linear-gradient(134deg, #07d8e2 54.07%, #35e99d 99.24%));
    
  }

  ion-card-title {
    font-size: 30px;
  }

  /* Cantidad del álbum */
.cantidad-album {
  font-size: 14px;
  color: #666;
}

/* Total por álbum */
.total-album {
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin-top: 10px;
}

/* Total del carrito */
.total-carrito {
  font-size: 16px;
  font-weight: bold;
  color: #000;
}

/* Cantidad (número) */
.cantidad {
  font-size: 14px;
  margin: 0 10px;
}

/* Control de cantidad */
.quantity-control {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Contenedor del control de cantidad */
.quantity-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 140px;
  margin-top: 10px;
}

/* Estilo de los íconos */
.quantity-icon {
  font-size: 36px;
  color: #4b4c4e; /* Puedes cambiar el color según tu tema */
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

/* Animación al hacer clic */
.quantity-icon:active {
  transform: scale(0.9);
}

/* Visualización de la cantidad */
.quantity-display {
  width: 40px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #333;
}