// For information on how to create your own theme, please see:
// http://ionicframework.com/docs/theming/

:root{
    //** mycolor **//
    --ion-color-mycolor: #87f6ba;
    --ion-color-mycolor-rgb: 135,246,186;
    --ion-color-mycolor-contrast: #000000;
    --ion-color-mycolor-contrast-rgb: 0,0,0;
    --ion-color-mycolor-shade: #77d8a4;
    --ion-color-mycolor-tint: #93f7c1;
    }

    :root {
        --ion-color-black: #000000;
      }