ion-menu-button {
    color: var(--ion-color-white);
  }
  
  ion-toolbar {
    background: linear-gradient(134deg, #07d8e2 54.07%, #35e99d 99.24%);
  }
  
    ion-content {
      --background: var(--ion-background-color, linear-gradient(134deg, #07d8e2 54.07%, #35e99d 99.24%));
      
    }
  
    ion-content {
      --padding-start: 0px;
      --padding-end: 0px;
      --padding-top: 10px;
      --padding-bottom: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start; /* Empuja el contenido hacia arriba */
    }
    
    ion-grid {
      margin-top: 10px; /* Ajusta el margen superior del grid */
    }
    
    ion-searchbar {
      margin: 10px 15px; /* Margen alrededor del searchbar */
    }
    
    ion-row {
      justify-content: center;
    }
    
    ion-card {
      margin: 10px; /* Reduce el margen entre tarjetas */
    }
    
