<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button
        defaultHref="/libreria"
        icon="arrow-back-outline" 
        text="" 
        color="black">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>



<ion-content [fullscreen]="true">
  
  <ion-card>
    
    <ion-card>
      <ion-img [src]="album.portada"></ion-img>
      <ion-card-header>

        <ion-card-title>
          {{album.nombre}}
        </ion-card-title>

        <ion-card-content>
          <p>{{album.artista}}</p>
        </ion-card-content>

        <ion-card-content>
          <p>{{ album.genero }}</p>
        </ion-card-content>
        
        <ion-card-content>
          <p>{{album.precio}}</p>
        </ion-card-content>
      

        <ion-button (click)="agregarAlbum()" shape="round" color="secondary">Añandir al Carrito</ion-button>
        <ion-button (click)="eliminarAlbum()" color="danger" shape="round">Eliminar de Favoritos</ion-button>

      </ion-card-header>
    </ion-card>

  </ion-card>

</ion-content>

<!-- NO MAS COTROL Z -->
