<ion-header>
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-back-button  
        icon="arrow-back-outline" 
        text="" 
        color="black"
        defaultHref="/perfil">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div> <h1>Wonderland</h1> </div>
  <div><h2>Modificar Mi Cuenta</h2></div>

  <form class="container">
    <ion-item>
      <ion-input label="Usuario" labelPlacement="floating" placeholder="Ingrese usuario" [(ngModel)]="username" name="usuario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Correo" type="email" labelPlacement="floating" placeholder="Ingrese email" [(ngModel)]="email" name="Correo"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Contraseña" type="password" labelPlacement="floating" placeholder="Ingrese contraseña" [(ngModel)]="password" name="contra"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Repetir Contraseña" type="password" labelPlacement="floating" placeholder="Repita su contraseña" [(ngModel)]="password2" name="contraR"></ion-input>
    </ion-item>
    <ion-item>
      <ion-input label="Dirección" labelPlacement="floating" placeholder="Direccion" [(ngModel)]="direction" name="direc"></ion-input>
    </ion-item>


    <ion-button (click)="validacion()" color="secondary">Modificar Perfil</ion-button>

    <div class="validacion">
      <p *ngIf="correoVal">- Ingrese un correo válido</p>
      <p *ngIf="contraVal">- La contraseña debe tener al menos una letra en mayúscula</p>
      <p *ngIf="contraVal">- La contraseña un caracter especial (!,.$#&/=-_)</p>
      <p *ngIf="contraVal">- La contraseña al menos dos números</p>
      <p *ngIf="contraIgual">- Las contraseñas no coinciden</p>
    </div>
  </form>

</ion-content>

<!-- NO MAS COTROL Z -->