<ion-header [translucent]="true">
  <ion-toolbar color="mycolor">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title> Inicio </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" #content>

  <div><h1>Wonderland</h1></div> 

  

  <ion-grid>
    <ion-row>
      <ion-col size="6" *ngFor="let album of albums">
        <ion-card (click)="irAlbum(album)">
          <ion-card-header>
            <ion-thumbnail>
              <img *ngIf="album.portada_album" [src]="album.portada_album">
            </ion-thumbnail>
          </ion-card-header>
          <ion-card-content>
            <ion-label>
              <p>{{ album.nombre_artista }}</p>
              <h2>{{ album.nombre_album }}</h2>
              <p style="font-weight: bold;">{{ album.precio_album | currency:'$':'symbol':'1.0-0' }}</p>
              <p>¡Solo quedan: {{ album.stock }}!</p> <!-- Muestra el stock aquí -->
            </ion-label>
          </ion-card-content>
        </ion-card>
        
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>


<ion-footer>
  <ion-toolbar>
    <ion-grid>
      <ion-row>
        <ion-col size="3" class="ion-text-center">
          <ion-button fill="clear" [routerLink]="['/home']" class="footer-button">
            <ion-icon name="home" style="font-size: 24px;" color="dark"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="3" class="ion-text-center">
          <ion-button fill="clear" [routerLink]="['/buscar']" class="footer-button">
            <ion-icon name="search" style="font-size: 24px;" color="dark"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="3" class="ion-text-center">
          <ion-button fill="clear" [routerLink]="['/libreria']" class="footer-button">
            <ion-icon name="heart" style="font-size: 24px;" color="dark"></ion-icon>
          </ion-button>
        </ion-col>

        <ion-col size="3" class="ion-text-center">
          <ion-button fill="clear" [routerLink]="['/carrito']" class="footer-button">
            <ion-icon name="cart" style="font-size: 24px;" color="dark"></ion-icon>
          </ion-button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-footer>

<!--VOY A MODOFICAR UN POCO-->