.not-found-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    
  }
  
  .not-found-content {
    text-align: center;
  }
  
  .error-code {
    font-size: 5rem;
    font-weight: bold;
    color: #ff4757; /* Puedes ajustar este color a tu preferencia */
  }
  
  .error-message {
    font-size: 1.2rem;
    margin-top: 1rem;
    color: #555;
  }
  
  ion-button {
    margin-top: 2rem;
  }
  
  ion-toolbar {
    background: linear-gradient(134deg, #07d8e2 54.07%, #35e99d 99.24%);
  }
  
    ion-content {
      --background: var(--ion-background-color, linear-gradient(134deg, #07d8e2 54.07%, #35e99d 99.24%));
      
    }
  